{
  "openapi": "3.0.1",
  "info": {
    "title": "Avanti API Reference",
    "description": "Avanti API",
    "termsOfService": "https://www.avanti.ca/api-terms-of-use",
    "contact": {
      "name": "Avanti Support",
      "url": "https://avanti.ca",
      "email": "support@avanti.ca"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://myavanti.ca/avtesting-api"
    }
  ],
  "paths": {
    "/v1/AttendanceCodes": {
      "get": {
        "tags": [
          "Attendance Codes"
        ],
        "summary": "Get Attendance Codes",
        "description": "Returns a list of Attendance Codes used throughout Time & Attendance. \n\nThese are used to track absences in Avanti. ",
        "operationId": "Get-Attendance-Codes",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "ADMIN - Administration",
                        "value": "ADMIN"
                      },
                      {
                        "text": "BRVE - Bereavement Leave",
                        "value": "BRVE"
                      },
                      {
                        "text": "JURY - Jury Duty",
                        "value": "JURY"
                      },
                      {
                        "text": "LATE - Late Time",
                        "value": "LATE"
                      },
                      {
                        "text": "ORNT - Orientation Session",
                        "value": "ORNT"
                      },
                      {
                        "text": "PERS - Personal Time Off",
                        "value": "PERS"
                      },
                      {
                        "text": "READF - Reading Files",
                        "value": "READF"
                      },
                      {
                        "text": "TRAIN - Training Course",
                        "value": "TRAIN"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Banks": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "List Banks",
        "description": "Returns a list of banks and their financial institution numbers. The format of Text in the response depends on the company web setting Lookup.Banks.",
        "operationId": "List-Banks",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "001 - Bank of Montreal",
                        "value": "001"
                      },
                      {
                        "text": "002 - The Bank of Nova Scotia",
                        "value": "002"
                      },
                      {
                        "text": "003 - Royal Bank of Canada",
                        "value": "003"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/BankTransits": {
      "get": {
        "tags": [
          "Bank Transit"
        ],
        "summary": "List Bank Transits",
        "operationId": "List-Bank-Transits",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/BenefitGroups": {
      "get": {
        "tags": [
          "Benefit Groups"
        ],
        "summary": "List Benefit Groups",
        "description": "Returns a list of Benefit Groups used in Benefits Administration. The format of Text in the response depends on the company web setting Lookup.BenefitGroups.\n\nIn Avanti, Benefit Groups are the different groupings of employee benefit coverage and the applicable benefit codes for each group.",
        "operationId": "List-Benefit-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "01 - All Single Benefits",
                        "value": "01"
                      },
                      {
                        "text": "02 - All Family Benefits",
                        "value": "02"
                      },
                      {
                        "text": "03 - Only Mandatory Benefits",
                        "value": "03"
                      },
                      {
                        "text": "04 - No Benefits",
                        "value": "04"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Codes": {
      "post": {
        "tags": [
          "Codes"
        ],
        "summary": "Get Codes",
        "description": "Returns a list of the codes used throughout Avanti. The Code Setup endpoint can provide the name for the available codes. \n\nThe sorting and filters shouldn't be sent unless they are being used.",
        "operationId": "Get-Codes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCodesOptions"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCodesOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetCodesOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Codes/{type}": {
      "delete": {
        "tags": [
          "Codes"
        ],
        "summary": "Delete Codes",
        "operationId": "Delete-Codes",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Codes/{type}/{code}": {
      "put": {
        "tags": [
          "Codes"
        ],
        "summary": "Save Code",
        "operationId": "Save-Code",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeDescription"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeDescription"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CodeDescription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Codes/Setup/{module}": {
      "get": {
        "tags": [
          "Codes"
        ],
        "summary": "Codes Setup",
        "description": "Returns the setup for the codes used throughout Avanti. \n\nThere are several types of codes: \n- Payroll (PY)\n- Hub (AT)\n- People Management (HR)\n- Workflow Management (PM)\n- Talent Acquisition (TR)",
        "operationId": "Codes-Setup",
        "parameters": [
          {
            "name": "module",
            "in": "path",
            "description": "Returns the setup for this type of code. Use PY for payroll. Use AT for Hub. Use HR for People Management. Use PM for Workflow Management. Use TR for Talent Acquisition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/CompanyInfo/Logo": {
      "delete": {
        "tags": [
          "Company Info"
        ],
        "summary": "Delete Company Logo",
        "operationId": "Delete-Company-Logo",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Company Info"
        ],
        "summary": "Get Company Logo",
        "operationId": "Get-Company-Logo",
        "parameters": [
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Company Info"
        ],
        "summary": "Update Company Logo",
        "operationId": "Update-Company-Logo",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "logos": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "logos": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/DefaultsGroup": {
      "get": {
        "tags": [
          "Defaults Group"
        ],
        "summary": "List Defaults Groups",
        "operationId": "List-Defaults-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Returns a list of the Employment Default Groups. The format of Text in the response depends on the company web setting Lookup.DefaultGroups.\n\nIn Avanti, these Default Groups can help quickly setup new employees based on common setup requirements. Default Groups can be set up to add earning and deduction/benefit codes, position, employee values, vacation groups, unions, and more. If a setup change is required, Default Groups can quickly update all employees within a group."
      }
    },
    "/v1/DefaultsGroup/Setup/{defaultsGroupCode}": {
      "get": {
        "tags": [
          "Defaults Group"
        ],
        "summary": "Get Defaults Group Setup",
        "operationId": "Get-Defaults-Group-Setup",
        "parameters": [
          {
            "name": "defaultsGroupCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Dependents": {
      "put": {
        "tags": [
          "Dependents"
        ],
        "summary": "Update Dependent",
        "description": "Update an existing dependent for an employee. \n",
        "operationId": "Create-a-Dependent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dependents"
        ],
        "summary": "Add Dependent",
        "description": "Creates a new dependent for an employee. \n\nDependents can be added to employee benefits. Additionally, they can be used to indicate beneficiaries. \n",
        "operationId": "Update-a-Dependent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dependents"
        ],
        "summary": "Delete a Dependent",
        "description": "Deletes the employee's dependent.",
        "operationId": "Delete-a-Dependent",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dependentNo",
            "in": "query",
            "description": "The number for the dependent. Each dependent for an employee will have a unique dependent number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Dependents"
        ],
        "summary": "List Dependents",
        "operationId": "List-Dependents",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Dependents/Setup": {
      "get": {
        "tags": [
          "Dependents"
        ],
        "summary": "Get Dependents Setup",
        "operationId": "Get-Dependents-Setup",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmergencyContacts": {
      "get": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "List Emergency Contacts",
        "description": "Returns a list of the employee's emergency contacts. \n\nEmergency contacts indicate who should be contacted in case of an emergency, as well as the details to contact them. ",
        "operationId": "List-Emergency-Contacts",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "Update Emergency Contact",
        "description": "Update an existing emergency contact for an employee. \n\nEmergency contacts indicate who should be contacted in case of an emergency, as well as the details to contact them. ",
        "operationId": "Create-Emergency-Contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "Add Emergency Contact",
        "description": "Creates a new emergency contact for an employee. \n\nEmergency contacts indicate who should be contacted in case of an emergency, as well as the details to contact them. ",
        "operationId": "Update-Emergency-Contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "Delete Emergency Contact",
        "description": "Deletes the employee's emergency contact.",
        "operationId": "Delete-Emergency-Contact",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entryCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmergencyContacts/Setup": {
      "get": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "Emergency Contacts Setup",
        "description": "Returns the emergency contacts setup data.",
        "operationId": "Emergency-Contacts-Setup",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "address": {
                        "address1": "4027 Phillips Avenue",
                        "address2": "",
                        "city": "Burnaby",
                        "country": "CAN",
                        "empNo": "000001005",
                        "postal": "V5A 2Z4",
                        "province": "BC"
                      },
                      "provinces": [
                        {
                          "text": "Alberta",
                          "value": "AB"
                        },
                        {
                          "text": "British Columbia",
                          "value": "BC"
                        },
                        {
                          "text": "Manitoba",
                          "value": "MB"
                        },
                        {
                          "text": "New Brunswick",
                          "value": "NB"
                        },
                        {
                          "text": "Newfoundland",
                          "value": "NL"
                        },
                        {
                          "text": "Nova Scotia",
                          "value": "NS"
                        },
                        {
                          "text": "Northwest Territories",
                          "value": "NT"
                        },
                        {
                          "text": "Nunavut",
                          "value": "NU"
                        },
                        {
                          "text": "Ontario",
                          "value": "ON"
                        },
                        {
                          "text": "Prince Edward Is.",
                          "value": "PE"
                        },
                        {
                          "text": "Quebec",
                          "value": "QC"
                        },
                        {
                          "text": "Saskatchewan",
                          "value": "SK"
                        },
                        {
                          "text": "Yukon Territories",
                          "value": "YT"
                        },
                        {
                          "text": "Outside North America",
                          "value": "ZZ"
                        },
                        {
                          "text": "Alabama",
                          "value": "AL"
                        },
                        {
                          "text": "Alaska",
                          "value": "AK"
                        },
                        {
                          "text": "Arkansas",
                          "value": "AR"
                        },
                        {
                          "text": "Arizona",
                          "value": "AZ"
                        },
                        {
                          "text": "California",
                          "value": "CA"
                        },
                        {
                          "text": "Colorado",
                          "value": "CO"
                        },
                        {
                          "text": "Connecticut",
                          "value": "CT"
                        },
                        {
                          "text": "District of Columbia",
                          "value": "DC"
                        },
                        {
                          "text": "Delaware",
                          "value": "DE"
                        },
                        {
                          "text": "Florida",
                          "value": "FL"
                        },
                        {
                          "text": "Georgia",
                          "value": "GA"
                        },
                        {
                          "text": "Hawaii",
                          "value": "HI"
                        },
                        {
                          "text": "Iowa",
                          "value": "IA"
                        },
                        {
                          "text": "Idaho",
                          "value": "ID"
                        },
                        {
                          "text": "Illinois",
                          "value": "IL"
                        },
                        {
                          "text": "Indiana",
                          "value": "IN"
                        },
                        {
                          "text": "Kansas",
                          "value": "KS"
                        },
                        {
                          "text": "Kentucky",
                          "value": "KY"
                        },
                        {
                          "text": "Louisiana",
                          "value": "LA"
                        },
                        {
                          "text": "Massachusetts",
                          "value": "MA"
                        },
                        {
                          "text": "Maryland",
                          "value": "MD"
                        },
                        {
                          "text": "Maine",
                          "value": "ME"
                        },
                        {
                          "text": "Michigan",
                          "value": "MI"
                        },
                        {
                          "text": "Minnesota",
                          "value": "MN"
                        },
                        {
                          "text": "Missouri",
                          "value": "MO"
                        },
                        {
                          "text": "Mississippi",
                          "value": "MS"
                        },
                        {
                          "text": "Montana",
                          "value": "MT"
                        },
                        {
                          "text": "North Carolina",
                          "value": "NC"
                        },
                        {
                          "text": "North Dakota",
                          "value": "ND"
                        },
                        {
                          "text": "Nebraska",
                          "value": "NE"
                        },
                        {
                          "text": "New Hampshire",
                          "value": "NH"
                        },
                        {
                          "text": "New Jersey",
                          "value": "NJ"
                        },
                        {
                          "text": "New Mexico",
                          "value": "NM"
                        },
                        {
                          "text": "Nevada",
                          "value": "NV"
                        },
                        {
                          "text": "New York",
                          "value": "NY"
                        },
                        {
                          "text": "Ohio",
                          "value": "OH"
                        },
                        {
                          "text": "Oklahoma",
                          "value": "OK"
                        },
                        {
                          "text": "Oregon",
                          "value": "OR"
                        },
                        {
                          "text": "Pennsylvania",
                          "value": "PA"
                        },
                        {
                          "text": "Rhode Island",
                          "value": "RI"
                        },
                        {
                          "text": "South Carolina",
                          "value": "SC"
                        },
                        {
                          "text": "South Dakota",
                          "value": "SD"
                        },
                        {
                          "text": "Tennessee",
                          "value": "TN"
                        },
                        {
                          "text": "Texas",
                          "value": "TX"
                        },
                        {
                          "text": "Utah",
                          "value": "UT"
                        },
                        {
                          "text": "Virginia",
                          "value": "VA"
                        },
                        {
                          "text": "Vermont",
                          "value": "VT"
                        },
                        {
                          "text": "Washington",
                          "value": "WA"
                        },
                        {
                          "text": "Wisconsin",
                          "value": "WI"
                        },
                        {
                          "text": "West Virginia",
                          "value": "WV"
                        },
                        {
                          "text": "Wyoming",
                          "value": "WY"
                        }
                      ],
                      "relationship": [
                        {
                          "text": "Spouse",
                          "value": "1"
                        },
                        {
                          "text": "Child",
                          "value": "2"
                        },
                        {
                          "text": "Common-law Spouse",
                          "value": "3"
                        },
                        {
                          "text": "Beneficiary",
                          "value": "4"
                        },
                        {
                          "text": "Other",
                          "value": "5"
                        },
                        {
                          "text": "Sister",
                          "value": "60"
                        },
                        {
                          "text": "Brother",
                          "value": "61"
                        },
                        {
                          "text": "Mother",
                          "value": "62"
                        },
                        {
                          "text": "Father",
                          "value": "63"
                        },
                        {
                          "text": "Mother In Law",
                          "value": "64"
                        },
                        {
                          "text": "Father In Law",
                          "value": "65"
                        },
                        {
                          "text": "Neighbor",
                          "value": "66"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeAddress": {
      "put": {
        "tags": [
          "Employee Address"
        ],
        "summary": "Update Employee Address",
        "operationId": "Update-Employee-Address",
        "parameters": [
          {
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAddress"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAddress"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Updates the home address of an employee."
      }
    },
    "/v1/EmployeeBasicInfo": {
      "put": {
        "tags": [
          "Employee Basic Info"
        ],
        "summary": "Update Employee Basic Info",
        "operationId": "Update-Employee-Basic-Info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBasicInfo"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBasicInfo"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBasicInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Update the basic information for the employee, such as full name, birth date, language and SIN information."
      }
    },
    "/v1/EmployeeBasicInfo/Photo": {
      "put": {
        "tags": [
          "Employee Basic Info"
        ],
        "summary": "Update an Employee Photo",
        "operationId": "Update-an-Employee-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "files": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Basic Info"
        ],
        "summary": "Delete an Employee Photo",
        "operationId": "Delete-an-Employee-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeBenefitCodeV34V35Values": {
      "put": {
        "tags": [
          "Employee Benefit Codes"
        ],
        "summary": "Update V34 and V35 values",
        "operationId": "Update-V34-and-V35-values",
        "parameters": [
          {
            "name": "deductCode",
            "in": "query",
            "description": "A three-digit ID for the deduction code greater than 499.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "V34",
            "in": "query",
            "description": "The employee's V34 amount. ",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "V35",
            "in": "query",
            "description": "The employee's V35 amount. ",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee whose V34/V35 value is being updated. ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Updates the V34 and V35 values on the employee's Deduction/Benefit Code. These values may calculate the employee's deduction or benefit amount, depending on the code setup. "
      }
    },
    "/v1/EmployeeBenefitGroup": {
      "get": {
        "tags": [
          "Employee Benefit Group"
        ],
        "summary": "Get Employee Benefit Info",
        "operationId": "Get-Employee-Benefit-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeDefaultsGroup": {
      "get": {
        "tags": [
          "Employee Defaults Group"
        ],
        "summary": "Get Employee Defaults Group",
        "operationId": "Get-Employee-Defaults-Group",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeEarningCodes": {
      "get": {
        "tags": [
          "Employee Earning Codes"
        ],
        "summary": "List Employee Earning Codes",
        "operationId": "List-Employee-Earning-Codes",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeEmails": {
      "put": {
        "tags": [
          "Employee Emails"
        ],
        "summary": "Update Employee Email",
        "operationId": "Update-Employee-Email",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployeeEmail"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployeeEmail"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployeeEmail"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeGLInfo": {
      "get": {
        "tags": [
          "Employee GL Info"
        ],
        "summary": "Get Employee GL Info",
        "operationId": "Get-Employee-GL-Info",
        "parameters": [
          {
            "name": "empno",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeJobData": {
      "get": {
        "tags": [
          "Employee Job Data"
        ],
        "summary": "Get Employee Job Data",
        "operationId": "Get-Employee-Job-Data",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeJobInfo": {
      "get": {
        "tags": [
          "Employee Job Info"
        ],
        "summary": "Get Employee Job Info",
        "operationId": "Get-Employee-Job-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeePayInfo": {
      "get": {
        "tags": [
          "Employee Pay Info"
        ],
        "summary": "Get Employee Pay Info",
        "operationId": "Get-Employee-Pay-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeePhoneNumber": {
      "put": {
        "tags": [
          "Employee Phone Number"
        ],
        "summary": "Update Employee Phone Number",
        "operationId": "Update-Employee-Phone-Number",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Phone Number"
        ],
        "summary": "Delete Employee Phone Number",
        "operationId": "Delete-Employee-Phone-Number",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeePositionRate": {
      "get": {
        "tags": [
          "Employee Position Rates"
        ],
        "summary": "List Employee Position Rates",
        "operationId": "List-Employee-Position-Rates",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeePositionRate/Description": {
      "get": {
        "tags": [
          "Employee Position Rates"
        ],
        "summary": "Get Employee Position Rate",
        "operationId": "Get-Employee-Position-Rate",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeePositions": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "List Employee Positions",
        "operationId": "List-Employee-Positions",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005."
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Returns a list of the employee's primary and secondary positions. The format of Text in the response depends on the company web setting Lookup.Positions.\n\nA position will only be included if it is active on the Employee Profile, with an effective date in the past and a expiry date in the future, if these are entered on the employee."
      }
    },
    "/v1/Employees": {
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "List Employees",
        "operationId": "List-Employees",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Employees/Details": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get Employee Info",
        "operationId": "Get-Employee-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Employees/Photo": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get Employee Raw Photo",
        "operationId": "Get-Employee-Raw-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005."
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmployeeVacationInfo": {
      "get": {
        "tags": [
          "Employee Vacation Info"
        ],
        "summary": "Get Employee Vacation Info",
        "operationId": "Get-Employee-Vacation-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmploymentHistory": {
      "post": {
        "tags": [
          "Employment History"
        ],
        "summary": "Add Employment History",
        "operationId": "Add-Employment-History",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentHistory"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentHistory"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentHistory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/EmploymentStatus": {
      "get": {
        "tags": [
          "Employment Status"
        ],
        "summary": "List Employment Statuses",
        "description": "Returns a list of the defined Employment Status codes. The format of Text in the response depends on the company web setting Lookup.EmploymentStatus.\n\nIn Avanti, these are used to manage and classify employees. For example, an employment status code may be used to indicate that an employee is on leave.",
        "operationId": "List-Employment-Statuses",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "01 - Working",
                        "value": "01"
                      },
                      {
                        "text": "02 - Training",
                        "value": "02"
                      },
                      {
                        "text": "03 - On Leave",
                        "value": "03"
                      },
                      {
                        "text": "04 - Vacation Leave",
                        "value": "04"
                      },
                      {
                        "text": "05 - Health/Medical Leave",
                        "value": "05"
                      },
                      {
                        "text": "07 - Accident Leave",
                        "value": "07"
                      },
                      {
                        "text": "08 - Discipline Leave",
                        "value": "08"
                      },
                      {
                        "text": "09 - Sabbatical Leave",
                        "value": "09"
                      },
                      {
                        "text": "10 - Maternity",
                        "value": "10"
                      },
                      {
                        "text": "11 - Terminated",
                        "value": "11"
                      },
                      {
                        "text": "12 - Retired",
                        "value": "12"
                      },
                      {
                        "text": "17 - Volunteers",
                        "value": "17"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/GLAccounts": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "List GL Accounts",
        "operationId": "List-GL-Accounts",
        "parameters": [
          {
            "name": "segmentNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Only pay statements that match the number entered will be returned. Pay Statements will match based on the values in the following fields:  PayEndingDate, ChequeNo, ChequeDate, Earnings, Deductions, Benefits, NetPay",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mask",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectAccount",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/GLAccounts/Description": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "Get GL Full Account Description",
        "operationId": "Get-GL-Full-Account-Description",
        "parameters": [
          {
            "name": "accountValues",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/GLBenefitGroups": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "List GL Benefit Groups",
        "operationId": "List-GL-Benefit-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/GLGroups": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "List GL Groups",
        "description": "Returns a list of GL Groups. The format of Text in the response depends on the company web setting Lookup.GlEarnGroups.\n\nIn Avanti, GL Groups provide the ability to expense earning amounts to multiple G/L accounts.",
        "operationId": "List-GL-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/GLSetup": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "Get GL Setup",
        "operationId": "Get-GL-Setup",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/GridCodes": {
      "get": {
        "tags": [
          "Grid Codes"
        ],
        "summary": "List Grid Codes",
        "description": "Returns a list of the Rate Grid Codes. The format of Text in the response depends on the company web setting Lookup.GridCodes.\n\nRate Grids are defined rate structures that can be applied to employees based on position or earnings, such a shift premiums and travel rates. Additionally, future rates can be defined for each rate grid.",
        "operationId": "List-Grid-Codes",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/JobStatus": {
      "get": {
        "tags": [
          "Job Status"
        ],
        "summary": "List Job Statuses",
        "description": "Returns a list of Job Status. The format of Text in the response depends on the company web setting Lookup.JobStatus.\n\nThese are used to classify employees on their job status, such as Casual vs Contract workers.",
        "operationId": "List-Job-Statuses",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "C - Casual",
                        "value": "C"
                      },
                      {
                        "text": "F - Full time",
                        "value": "F"
                      },
                      {
                        "text": "P - Part time",
                        "value": "P"
                      },
                      {
                        "text": "T - Temporary",
                        "value": "T"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "List Locations",
        "description": "Returns a list of the location codes. The format of Text in the response depends on the company web setting Lookup.Location.\n\nLocation codes are used throughout Avanti to identify employee locations, departments, zones, units, etc.",
        "operationId": "List-Locations",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/NewExperience": {
      "post": {
        "tags": [
          "New Experience"
        ],
        "summary": "Add New Experience",
        "operationId": "Add-New-Experience",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExperienceSetup"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExperienceSetup"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewExperienceSetup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/NewExperience/AddTermsOfService": {
      "post": {
        "tags": [
          "New Experience"
        ],
        "summary": "Add New Terms of Service Contract",
        "operationId": "Add-New-Terms-of-Service-Contract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TermsOfService"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TermsOfService"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TermsOfService"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/NewExperience/DeclineTermsOfService": {
      "post": {
        "tags": [
          "New Experience"
        ],
        "summary": "Decline Terms of Service",
        "operationId": "Decline-Terms-of-Service",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentForm"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/NewExperience/Setup": {
      "get": {
        "tags": [
          "New Experience"
        ],
        "summary": "Get New Experience Setup",
        "operationId": "Get-New-Experience-Setup",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/NewExperience/UpdateTermsOfService": {
      "put": {
        "tags": [
          "New Experience"
        ],
        "summary": "Update Terms of Service Consent",
        "operationId": "Update-Terms-of-Service-Consent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentForm"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentForm"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/NewHire": {
      "post": {
        "tags": [
          "New Hire"
        ],
        "summary": "Add New Hire",
        "operationId": "Add-New-Hire",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewHire"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewHire"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewHire"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/NewHire/DefaultGroup": {
      "get": {
        "tags": [
          "New Hire"
        ],
        "summary": "Get Default Group Values and Setup",
        "operationId": "Get-Default-Group-Values-and-Setup",
        "parameters": [
          {
            "name": "defaultGroupCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/NewHire/Setup": {
      "get": {
        "tags": [
          "New Hire"
        ],
        "summary": "New Hire Setup",
        "operationId": "New-Hire-Setup",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Notification/{id}": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get a Notification",
        "description": "Returns the details of the notification for the employee attached to the Avanti User.",
        "operationId": "Get-a-Notification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the notification you would like to get the data for.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List Notifications",
        "description": "Returns a list of notifications for the employee attached to the Avanti User. \n\nIf no request parameters are sent, the 20 most recent notifications are returned.",
        "operationId": "List-Notifications",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "description": "The IDs of the notification types you would like to get the data for. If blank, notifications for all types are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "notificationId",
            "in": "query",
            "description": "Used with the newer parameter to determine which notifications to return. \nReturns the notifications newer or older than the notificationId. \n\nIf blank, the most recent notifications are returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "newer",
            "in": "query",
            "description": "Used with the notificationId parameter to determine which notifications to return. \nIf True or blank, notifications more recent than the notificationId are returned. \nIf false, notifications older than the notificationId are returned.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "unreadOnly",
            "in": "query",
            "description": "If true, only unread notifications are returned. If false, all notifications are returned. Default is false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Only notifications that contain this text in the subject or content are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastLoaded",
            "in": "query",
            "description": "Returns a list of notifications with a changed read status after this date. The date in ISO 8601 format.\nThese notifications are returned in read and unread. This can be used address caching when users access notifications across different devices.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark Notifications as Read",
        "operationId": "Mark-Notifications-as-Read",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNotifications"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNotifications"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostNotifications"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Notifications/MarkAllRead": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark all Notifications as Read",
        "operationId": "Mark-all-Notifications-as-Read",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAllReadRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAllReadRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAllReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Notifications/NotPushed": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List Unpushed Notifications",
        "operationId": "List-Unpushed-Notifications",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Notifications/RegisterChannel": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "summary": "Register Push Notification Channel",
        "operationId": "Register-Push-Notification-Channel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushNotificationRegistration"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PushNotificationRegistration"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PushNotificationRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/Notifications/Unread": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get Unread Notification Count",
        "operationId": "Get-Unread-Notification-Count",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/NotificationSettings": {
      "get": {
        "tags": [
          "Notification Settings"
        ],
        "summary": "List Notification Settings",
        "description": "This returns a list of all the notification types and their setup. \n\nThe setup includes whether: \n- This type of notification is used.  \n- Employees will receive these notifications by default. \n- Employees can disable these notifications.",
        "operationId": "List-Notification-Settings",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notification Settings"
        ],
        "summary": "Update Notification Settings",
        "operationId": "Update-Notification-Settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotificationSettingState"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotificationSettingState"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotificationSettingState"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        },
        "description": "Update whether the employee is receiving notifications for the notification type. The employee is always the employee attached to the user."
      }
    },
    "/v1/PayCodes": {
      "get": {
        "tags": [
          "Pay Codes"
        ],
        "summary": "List Pay Codes",
        "description": "Returns a list of the pay codes. The format of Text in the response depends on the company web setting Lookup.PayCode.\n\nIn Avanti, pay codes are used throughout Time and Attendance to determine the earning code for the time, whether the entry is from/to times or units/units of measure. and whether punches are used for the time.",
        "operationId": "List-Pay-Codes",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "BREAK - Break Pay",
                        "value": "BREAK"
                      },
                      {
                        "text": "BREAKNP - Break Unpaid",
                        "value": "BREAKNP"
                      },
                      {
                        "text": "OTBANK - Bank Overtime",
                        "value": "OTBANK"
                      },
                      {
                        "text": "OTPAYOUT - Pay Overtime",
                        "value": "OTPAYOUT"
                      },
                      {
                        "text": "REGULAR - Regular Time",
                        "value": "REGULAR"
                      },
                      {
                        "text": "SICK - Sick",
                        "value": "SICK"
                      },
                      {
                        "text": "TRAINING - Training Time",
                        "value": "TRAINING"
                      },
                      {
                        "text": "TRAVEL - Travel Time",
                        "value": "TRAVEL"
                      },
                      {
                        "text": "VACATION - Vacation Time",
                        "value": "VACATION"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/PayGroup/{payGroup}": {
      "get": {
        "tags": [
          "Pay Groups"
        ],
        "summary": "Get Pay Group",
        "operationId": "Get-Pay-Group",
        "parameters": [
          {
            "name": "payGroup",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/PayGroups": {
      "get": {
        "tags": [
          "Pay Groups"
        ],
        "summary": "List Pay Groups",
        "description": "Returns a list of pay groups. The format of Text in the response depends on the company web setting Lookup.PayGroups.\n\nIn Avanti, pay groups determine many of the pay and tax calculations factors, such as EI rates, CPP rates, the CRA business number, Quebec Employer ID, etc. They are assigned to employees that are paid at the same time and share the same pay period factors.",
        "operationId": "List-Pay-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "001 - Part-Time Bi-Weekly",
                        "value": "001"
                      },
                      {
                        "text": "002 - Full-Time Bi-Weekly",
                        "value": "002"
                      },
                      {
                        "text": "010 - Semi-Monthly",
                        "value": "010"
                      },
                      {
                        "text": "011 - Contract Semi-Monthly",
                        "value": "011"
                      },
                      {
                        "text": "012 - Quebec Semi-Monthly",
                        "value": "012"
                      },
                      {
                        "text": "020 - Executives",
                        "value": "020"
                      },
                      {
                        "text": "099 - Volunteers",
                        "value": "099"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/PayStatements": {
      "get": {
        "tags": [
          "Pay Statements"
        ],
        "summary": "List Pay Statements",
        "description": "Returns a list of pay statements, with the pay totals,  for the employee assigned to the user.",
        "operationId": "List-Pay-Statements",
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run",
            "in": "query",
            "description": "Run numbers greater than the run number specified will be returned. When testing using 'Send a Test Request', the lowest run number is 1998 for the employee.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Determines the order of the statements returned, in conjunction with sortDesc. \nEnter what determines the order from the following options: PayEndingDate, ChequeNo, ChequeDate, Earnings, Deductions, Benefits, NetPay",
            "schema": {
              "type": "string",
              "default": "PayEndingDate"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Only pay statements that match the number entered will be returned. Pay Statements will match based on the values in the following fields:  PayEndingDate, ChequeNo, ChequeDate, Earnings, Deductions, Benefits, NetPay",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "sortDesc",
            "in": "query",
            "description": "When true, statements will be in descending order based on the sortOrder. When false, statements will be in ascending order. Default is true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "bankNo": "01",
                        "benefits": 1998.84,
                        "chequeDate": "2020-08-31T00:00:00.0000000+00:00",
                        "chequeNo": "038612",
                        "deductions": 1468.77,
                        "earnings": 3744,
                        "empNo": "000001005",
                        "keyExtension": 1,
                        "netPay": 2275.23,
                        "payEndingDate": "2020-08-31T00:00:00.0000000+00:00",
                        "runNumber": 2003
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/PayStatements/Cancelled": {
      "get": {
        "tags": [
          "Employee Pay Statements"
        ],
        "summary": "List Cancelled Pay Statements",
        "operationId": "List-Cancelled-Pay-Statements",
        "parameters": [
          {
            "name": "minRun",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxRun",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/PayStatements/PDF": {
      "get": {
        "tags": [
          "Pay Statements"
        ],
        "summary": "Get PDF Pay Statement",
        "description": "Returns a byte array of the pay statement with a content type of application/pdf for the employee assigned to the current Avanti User.",
        "operationId": "Get-PDF-Pay-Statement",
        "parameters": [
          {
            "name": "runNumber",
            "in": "query",
            "description": "The pay statement PDF will be returned for this run number. When testing using 'Send a Test Request', the run numbers are 1998, 2000, 2002, 2003 for this employee.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requirePassword",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/PayStatements/Statement": {
      "get": {
        "tags": [
          "Pay Statements"
        ],
        "summary": "Get Pay Statement",
        "operationId": "Get-Pay-Statement",
        "parameters": [
          {
            "name": "runNumber",
            "in": "query",
            "description": "The pay statement PDF will be returned for this run number. When testing using 'Send a Test Request', the run numbers are 1998, 2000, 2002, 2003 for this employee.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/PersonalInfo": {
      "get": {
        "tags": [
          "Employee Personal Info"
        ],
        "summary": "Get Employee Personal Info",
        "operationId": "Get-Employee-Personal-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {},
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "description": ""
      },
      "put": {
        "tags": [
          "Employee Personal Info"
        ],
        "summary": "Update Employee Personal Info",
        "operationId": "Update-Employee-Personal-Info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "examples": {
                  "example-1": {}
                }
              }
            }
          }
        },
        "description": "Provides the ability to update the personal information for the employee.\n\nBest practice to do a Get Personal Info, update the required values, then do a Post Personal Info."
      }
    },
    "/v1/PersonalInfo/EmployeeFigures": {
      "get": {
        "tags": [
          "Personal Info"
        ],
        "summary": "Get Employee Figures",
        "description": "Returns a list of the Figures, Dates, and Text Fields for the employee. Figures are defined on the Profile Field Names tab of the Payroll Parameters. \n\nThe Figures and Text Fields for the employee are on the Values tab of the Employee Profile. The Dates for the employee are on the Dates tab of the Employee Profile.",
        "operationId": "Get-Employee-Figures",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Personal Info"
        ],
        "summary": "Update Employee Figures",
        "operationId": "Update-Employee-Figures",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeFigures"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeFigures"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeFigures"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/PersonalInfo/Photo": {
      "get": {
        "tags": [
          "Employee Personal Info"
        ],
        "summary": "Get Employee Photo",
        "operationId": "Get-Employee-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005."
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "put": {
        "tags": [
          "Employee Personal Info"
        ],
        "summary": "Update Employee Photo",
        "operationId": "Update-Employee-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Personal Info"
        ],
        "summary": "Delete Employee Photo",
        "operationId": "Delete-Employee-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/PersonalInfo/Setup": {
      "get": {
        "tags": [
          "Personal Info"
        ],
        "summary": "Personal Info Setup",
[...]
