{
  "openapi": "3.0.1",
  "info": {
    "title": "Avanti API Reference",
    "description": "Avanti API",
    "termsOfService": "https://www.avanti.ca/api-terms-of-use",
    "contact": {
      "name": "Avanti Care",
      "url": "https://avanti.ca",
      "email": "https://help.avanti.ca/support/tickets/new"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://myavanti.ca/avtesting-api"
    }
  ],
  "paths": {
    "/v1/AttendanceCodes": {
      "get": {
        "tags": [
          "Attendance Codes"
        ],
        "summary": "Get Attendance Codes",
        "description": "Returns a list of Attendance Codes used throughout Time & Attendance. \n\nThese are used to track absences in Avanti. ",
        "operationId": "Get-Attendance-Codes",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "ADMIN - Administration",
                        "value": "ADMIN"
                      },
                      {
                        "text": "BRVE - Bereavement Leave",
                        "value": "BRVE"
                      },
                      {
                        "text": "JURY - Jury Duty",
                        "value": "JURY"
                      },
                      {
                        "text": "LATE - Late Time",
                        "value": "LATE"
                      },
                      {
                        "text": "ORNT - Orientation Session",
                        "value": "ORNT"
                      },
                      {
                        "text": "PERS - Personal Time Off",
                        "value": "PERS"
                      },
                      {
                        "text": "READF - Reading Files",
                        "value": "READF"
                      },
                      {
                        "text": "TRAIN - Training Course",
                        "value": "TRAIN"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AttendanceData": {
      "post": {
        "tags": [
          "Attendance Data"
        ],
        "summary": "List Payroll Data and Attendance Calendar Entries",
        "description": "This endpoint returns a list of payroll data and attendance calendar time entries with a date range with the earning code selected. Additionally, you can restrict the entries returned by employee number, attendance codes and employee number.\n\nThe API User must have role permissions to the employee and have access to the employee's pay group. Go to [Allow Employee Access](/docs/auth-users.md) for more information on setting up the user with the correct employee access. ",
        "operationId": "Get-List-of-AttendanceData",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceDataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceDataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceDataRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./main.v1.json#/components/schemas/AttendanceData"
                }
              }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Banks": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "List Banks",
        "description": "Returns a list of banks and their financial institution numbers. The format of Text in the response depends on the company web setting Lookup.Banks.",
        "operationId": "List-Banks",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "001 - Bank of Montreal",
                        "value": "001"
                      },
                      {
                        "text": "002 - The Bank of Nova Scotia",
                        "value": "002"
                      },
                      {
                        "text": "003 - Royal Bank of Canada",
                        "value": "003"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/BankTransits": {
      "get": {
        "tags": [
          "Bank Transit"
        ],
        "summary": "List Bank Transits",
        "operationId": "List-Bank-Transits",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankTransit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/BenefitGroups": {
      "get": {
        "tags": [
          "Benefit Groups"
        ],
        "summary": "List Benefit Groups",
        "description": "Returns a list of Benefit Groups used in Benefits Administration. The format of Text in the response depends on the company web setting Lookup.BenefitGroups.\n\nIn Avanti, Benefit Groups are the different groupings of employee benefit coverage and the applicable benefit codes for each group.",
        "operationId": "List-Benefit-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "01 - All Single Benefits",
                        "value": "01"
                      },
                      {
                        "text": "02 - All Family Benefits",
                        "value": "02"
                      },
                      {
                        "text": "03 - Only Mandatory Benefits",
                        "value": "03"
                      },
                      {
                        "text": "04 - No Benefits",
                        "value": "04"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ChangeLog": {
      "get": {
        "tags": [
          "Change Log"
        ],
        "summary": "Lists employee changes log",
        "operationId": "Lists-employee-changes-log",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "LogIndex"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "paged",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Change Log"
        ],
        "summary": "Add a change log",
        "operationId": "Add-a-change-log",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLog"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLog"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLog"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ChangeLog/{id}": {
      "put": {
        "tags": [
          "Change Log"
        ],
        "summary": "Update change log",
        "operationId": "Update-change-log",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLog"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLog"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeLog"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Change Log"
        ],
        "summary": "Delete a change log",
        "operationId": "Delete-a-change-log",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ChangeLog/{logIndex}": {
      "get": {
        "tags": [
          "Change Log"
        ],
        "summary": "Get change log item by LogIndex",
        "operationId": "Get-change-log-item-by-LogIndex",
        "parameters": [
          {
            "name": "LogIndex",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ChangeLog/Search": {
      "get": {
        "tags": [
          "Change Log"
        ],
        "summary": "Search change logs",
        "operationId": "Search-change-logs",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "maxLength": 32,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "EmployeeNo",
            "in": "query",
            "schema": {
              "maxLength": 9,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "FileName",
            "in": "query",
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "ColumnName",
            "in": "query",
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "LogIndex"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "paged",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/CompanyInfo/Logo": {
      "delete": {
        "tags": [
          "Company Info"
        ],
        "summary": "Delete Company Logo",
        "operationId": "Delete-Company-Logo",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Company Info"
        ],
        "summary": "Get Company Logo",
        "operationId": "Get-Company-Logo",
        "parameters": [
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Company Info"
        ],
        "summary": "Update Company Logo",
        "operationId": "Update-Company-Logo",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "logos": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "logos": { }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/DataConnector/{slugId}": {
      "get": {
        "tags": [
          "Data Connector"
        ],
        "summary": "Get Data Connector",
        "operationId": "Get-Data-Connector",
        "parameters": [
          {
            "name": "slugId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/DecliningBalances": {
      "post": {
        "tags": [
          "Declining Balances"
        ],
        "summary": "Declining Balances",
        "operationId": "Declining-Balances",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecliningBalancesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DecliningBalancesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DecliningBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/DefaultsGroup": {
      "get": {
        "tags": [
          "Defaults Group"
        ],
        "summary": "List Defaults Groups",
        "description": "Returns a list of the Employment Default Groups. The format of Text in the response depends on the company web setting Lookup.DefaultGroups.\n\nIn Avanti, these Default Groups can help quickly setup new employees based on common setup requirements. Default Groups can be set up to add earning and deduction/benefit codes, position, employee values, vacation groups, unions, and more. If a setup change is required, Default Groups can quickly update all employees within a group. ",
        "operationId": "List-Defaults-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Dependents": {
      "put": {
        "tags": [
          "Dependents"
        ],
        "summary": "Update Dependent",
        "description": "Update an existing dependent for an employee. \n",
        "operationId": "Create-a-Dependent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dependents"
        ],
        "summary": "Add Dependent",
        "description": "Creates a new dependent for an employee. \n\nDependents can be added to employee benefits. Additionally, they can be used to indicate beneficiaries. \n",
        "operationId": "Update-a-Dependent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Dependent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dependents"
        ],
        "summary": "Delete a Dependent",
        "description": "Deletes the employee's dependent.",
        "operationId": "Delete-a-Dependent",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dependentNo",
            "in": "query",
            "description": "The number for the dependent. Each dependent for an employee will have a unique dependent number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Dependents"
        ],
        "summary": "List Dependents",
        "operationId": "List-Dependents",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dependent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmergencyContacts": {
      "get": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "List Emergency Contacts",
        "description": "Returns a list of the employee's emergency contacts. \n\nEmergency contacts indicate who should be contacted in case of an emergency, as well as the details to contact them. ",
        "operationId": "List-Emergency-Contacts",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmergencyContact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "Update Emergency Contact",
        "description": "Update an existing emergency contact for an employee. \n\nEmergency contacts indicate who should be contacted in case of an emergency, as well as the details to contact them. ",
        "operationId": "Create-Emergency-Contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "Add Emergency Contact",
        "description": "Creates a new emergency contact for an employee. \n\nEmergency contacts indicate who should be contacted in case of an emergency, as well as the details to contact them. ",
        "operationId": "Update-Emergency-Contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Emergency Contacts"
        ],
        "summary": "Delete Emergency Contact",
        "description": "Deletes the employee's emergency contact.",
        "operationId": "Delete-Emergency-Contact",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entryCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/EmployeeAddress": {
      "put": {
        "tags": [
          "Employee Address"
        ],
        "summary": "Update Employee Address",
        "description": "Updates the home address of an employee.",
        "operationId": "Update-Employee-Address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAddress"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAddress"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/EmployeeBasicInfo": {
      "put": {
        "tags": [
          "Employee Basic Info"
        ],
        "summary": "Update Employee Basic Info",
        "description": "Update the basic information for the employee, such as full name, birth date, language and SIN information.",
        "operationId": "Update-Employee-Basic-Info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBasicInfo"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBasicInfo"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeBasicInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/EmployeeBasicInfo/Photo": {
      "put": {
        "tags": [
          "Employee Basic Info"
        ],
        "summary": "Update an Employee Photo",
        "operationId": "Update-an-Employee-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "files": { }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Basic Info"
        ],
        "summary": "Delete an Employee Photo",
        "operationId": "Delete-an-Employee-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/EmployeeBenefitCodeV34V35Values": {
      "put": {
        "tags": [
          "Employee Benefit Codes"
        ],
        "summary": "Update V34 and V35 values",
        "description": "Updates the V34 and V35 values on the employee's Deduction/Benefit Code. These amounts can be included in formulas to calculate employee or employer amount during pay. ",
        "operationId": "Update-V34-and-V35-values",
        "parameters": [
          {
            "name": "deductCode",
            "in": "query",
            "description": "A three-digit ID for the deduction code greater than 499.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "V34",
            "in": "query",
            "description": "The employee's V34 amount.  ",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "V35",
            "in": "query",
            "description": "The employee's V35 amount. ",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee whose V34/V35 value is being updated. ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/EmployeeBenefitGroup": {
      "get": {
        "tags": [
          "Employee Benefit Group"
        ],
        "summary": "Get Employee Benefit Info",
        "operationId": "Get-Employee-Benefit-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeBenefit"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeBenefits": {
      "get": {
        "tags": [
          "Employee Benefits"
        ],
        "summary": "List Employee Benefits",
        "description": "Returns all the most important details of your employee's benefits. \n\nName Format   \n\nThe employees, dependents and beneficiaries' names are all formatted based on the user's name format. These formats are returned as: \n\n  0 is the last name, then the first name\n\n  1 is the first name, then the last name\n\n  2 is the last name, then the preferred name\n\n  3 is the preferred name, then the last name\n\n  4 is the last name, then the first name's initial\n\n  5 is the first name's initial, then the last name\n\n  6 is the last name, then the preferred name's initial \n  \n  7 is the preferred name's initial, then the last name\n\n  8 is the preferred name, then the last name's initial\n\n  9 is the first name, and then the last name's initial\n      \n      ",
        "operationId": "List-Employee-Benefits",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeBenefitDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeCompensation/PayStatement": {
      "get": {
        "tags": [
          "Employee Compensation"
        ],
        "summary": "Get Employee Pay Statement",
        "operationId": "Get-Employee-Pay-Statement",
        "parameters": [
          {
            "name": "runNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayStatementDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "x-internal": false
      }
    },
    "/v1/EmployeeDefaultsGroup": {
      "get": {
        "tags": [
          "Employee Defaults Group"
        ],
        "summary": "Get Employee Defaults Group",
        "operationId": "Get-Employee-Defaults-Group",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDefaultsGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeEarningCodes": {
      "get": {
        "tags": [
          "Employee Earning Codes"
        ],
        "summary": "List Employee Earning Codes",
        "operationId": "List-Employee-Earning-Codes",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeEmails": {
      "put": {
        "tags": [
          "Employee Emails"
        ],
        "summary": "Update Employee Email",
        "operationId": "Update-Employee-Email",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployeeEmail"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployeeEmail"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployeeEmail"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/EmployeeGLInfo": {
      "get": {
        "tags": [
          "Employee GL Info"
        ],
        "summary": "Get Employee GL Info",
        "operationId": "Get-Employee-GL-Info",
        "parameters": [
          {
            "name": "empno",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeJobData": {
      "get": {
        "tags": [
          "Employee Job Data"
        ],
        "summary": "Get Employee Job Data",
        "operationId": "Get-Employee-Job-Data",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeJobInfo": {
      "get": {
        "tags": [
          "Employee Job Info"
        ],
        "summary": "Get Employee Job Info",
        "operationId": "Get-Employee-Job-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeJobInfo"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeePayInfo": {
      "get": {
        "tags": [
          "Employee Pay Info"
        ],
        "summary": "Get Employee Pay Info",
        "operationId": "Get-Employee-Pay-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeePhoneNumber": {
      "put": {
        "tags": [
          "Employee Phone Number"
        ],
        "summary": "Update Employee Phone Number",
        "operationId": "Update-Employee-Phone-Number",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee Phone Number"
        ],
        "summary": "Delete Employee Phone Number",
        "operationId": "Delete-Employee-Phone-Number",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneNumber"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/v1/EmployeePositionRate": {
      "get": {
        "tags": [
          "Employee Position Rates"
        ],
        "summary": "List Employee Position Rates",
        "operationId": "List-Employee-Position-Rates",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PositionRates"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeePositionRate/Description": {
      "get": {
        "tags": [
          "Employee Position Rates"
        ],
        "summary": "Get Employee Position Rate",
        "operationId": "Get-Employee-Position-Rate",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeePositions": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "List Employee Positions",
        "description": "Returns a list of the employee's primary and secondary positions. The format of Text in the response depends on the company web setting Lookup.Positions.\n\nA position will only be included if it is active on the Employee Profile, with an effective date in the past and a expiry date in the future, if these are entered on the employee.",
        "operationId": "List-Employee-Positions",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Employees/Details": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get Employee Info",
        "operationId": "Get-Employee-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextValuePair"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Employees/Photo": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get Employee Raw Photo",
        "operationId": "Get-Employee-Raw-Photo",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee. When testing using 'Send a Test Request', you can use employee number 000001005.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmployeeVacationInfo": {
      "get": {
        "tags": [
          "Employee Vacation Info"
        ],
        "summary": "Get Employee Vacation Info",
        "operationId": "Get-Employee-Vacation-Info",
        "parameters": [
          {
            "name": "empNo",
            "in": "query",
            "description": "The employee number of the employee assigned to the user. When testing using 'Send a Test Request', this must be blank or 000001005.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeVacationInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmploymentHistory": {
      "post": {
        "tags": [
          "Employment History"
        ],
        "summary": "Add Employment History",
        "operationId": "Add-Employment-History",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentHistory"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentHistory"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentHistory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": { }
            }
          },
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/EmploymentStatus": {
      "get": {
        "tags": [
          "Employment Status"
        ],
        "summary": "List Employment Statuses",
        "description": "Returns a list of the defined Employment Status codes. The format of Text in the response depends on the company web setting Lookup.EmploymentStatus.\n\nIn Avanti, these are used to manage and classify employees. For example, an employment status code may be used to indicate that an employee is on leave.",
        "operationId": "List-Employment-Statuses",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "01 - Working",
                        "value": "01"
                      },
                      {
                        "text": "02 - Training",
                        "value": "02"
                      },
                      {
                        "text": "03 - On Leave",
                        "value": "03"
                      },
                      {
                        "text": "04 - Vacation Leave",
                        "value": "04"
                      },
                      {
                        "text": "05 - Health/Medical Leave",
                        "value": "05"
                      },
                      {
                        "text": "07 - Accident Leave",
                        "value": "07"
                      },
                      {
                        "text": "08 - Discipline Leave",
                        "value": "08"
                      },
                      {
                        "text": "09 - Sabbatical Leave",
                        "value": "09"
                      },
                      {
                        "text": "10 - Maternity",
                        "value": "10"
                      },
                      {
                        "text": "11 - Terminated",
                        "value": "11"
                      },
                      {
                        "text": "12 - Retired",
                        "value": "12"
                      },
                      {
                        "text": "17 - Volunteers",
                        "value": "17"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/GLAccounts": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "List GL Accounts",
        "operationId": "List-GL-Accounts",
        "parameters": [
          {
            "name": "segmentNo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of entries returned.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of entries to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Only pay statements that match the number entered will be returned. Pay Statements will match based on the values in the following fields:  PayEndingDate, ChequeNo, ChequeDate, Earnings, Deductions, Benefits, NetPay",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mask",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectAccount",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/GLAccounts/Description": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "Get GL Full Account Description",
        "operationId": "Get-GL-Full-Account-Description",
        "parameters": [
          {
            "name": "accountValues",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlAccountDescription"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/GLBenefitGroups": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "List GL Benefit Groups",
        "operationId": "List-GL-Benefit-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/GLGroups": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "List GL Groups",
        "description": "Returns a list of GL Groups. The format of Text in the response depends on the company web setting Lookup.GlEarnGroups.\n\nIn Avanti, GL Groups provide the ability to expense earning amounts to multiple G/L accounts.",
        "operationId": "List-GL-Groups",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/GLProjectAccounts": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "List GL Project and Phases",
        "description": "Returns a list of the Project and Phase Accounts. \n\n**GL Project Filter**\n\nProjects returned are filtered based on the account and name when using a filter. \n- Returns projects with the filter value at the beginning of the account. \n- Returns projects with the filter value anywhere in the name. \n\n\n",
        "operationId": "List-GL-Project-Accounts",
        "parameters": [
          {
            "name": "take",
            "in": "query",
            "description": "The number of accounts to display.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of accounts to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filters projects based on the account number and description. Returns all projects like the value entered. ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "If provided, only project accounts with a matching type are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mask",
            "in": "query",
            "description": "If provided, only project accounts matching the mask provided are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "If True, only active project accounts are returned; if False, inactive accounts are returned. If blank, active and inactive accounts are returned.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlProjectSegment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "GLs"
        ],
        "summary": "Add GL Project Accounts",
        "description": "Create new Accounts for the Project Segment. This cannot create Major, Other, or Phase Segments.",
        "operationId": "Add-GL-Project-Account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlProjectSegmentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GlProjectSegmentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GlProjectSegmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/GLProjectAccounts/{account}": {
      "delete": {
        "tags": [
          "GLs"
        ],
        "summary": "Delete GL Project Accounts",
        "description": "Permanently delete a GL Account for the Project Segment. This cannot delete Major, Other, or Phase Segments.",
        "operationId": "Delete-GL-Project-Account",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "description": "The project account you are deleting.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "parameters": [
        {
          "name": "account",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v1/GLSegment": {
      "post": {
        "tags": [
          "GLs"
        ],
        "summary": "Add GL Account",
        "description": "Create new GL Accounts for Major, Other, or Phase Segments. This cannot create Project Accounts. ",
        "operationId": "Add-New-GL-Account-Data",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./main.v1.json#/components/schemas/GlSegment"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "segmentNo": 1,
                    "account": "2030",
                    "description": "EHT Payable",
                    "abbreviation": "EHTPay",
                    "type": "A",
                    "mask": "2030-####-#####-****-****",
                    "validationTypes": "A A",
                    "active": true,
                    "useProjectAccount": true,
                    "statAccount": "string",
                    "exportValue": "20300"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./main.v1.json#/components/schemas/GlSegment"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "GLs"
        ],
        "summary": "Update GL Account",
        "description": "Update GL Accounts for Major, Other, or Phase Segments. This cannot update Project Accounts. ",
        "operationId": "Update-GL-Account-Data",
        "requestBody": {
          "content": {
            "application/json": null
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": { }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GLs"
        ],
        "summary": "Delete GL Account",
        "description": "Permanently delete GL Accounts for Major, Other, or Phase Segments. This cannot delete Project Accounts. ",
        "operationId": "Delete-GL-Account-Data",
        "parameters": [
          {
            "name": "segmentNo",
            "in": "query",
            "description": "The number of the GL segment with the account your deleting.  ",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "The GL account. ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/GLSetup": {
      "get": {
        "tags": [
          "GLs"
        ],
        "summary": "Get GL Setup",
        "operationId": "Get-GL-Setup",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlSetup"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/GridCodes": {
      "get": {
        "tags": [
          "Grid Codes"
        ],
        "summary": "List Grid Codes",
        "description": "Returns a list of the Rate Grid Codes. The format of Text in the response depends on the company web setting Lookup.GridCodes.\n\nRate Grids are defined rate structures that can be applied to employees based on position or earnings, such a shift premiums and travel rates. Additionally, future rates can be defined for each rate grid.",
        "operationId": "List-Grid-Codes",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/JobStatus": {
      "get": {
        "tags": [
          "Job Status"
        ],
        "summary": "List Job Statuses",
        "description": "Returns a list of Job Status. The format of Text in the response depends on the company web setting Lookup.JobStatus.\n\nThese are used to classify employees on their job status, such as Casual vs Contract workers.",
        "operationId": "List-Job-Statuses",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                },
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "text": "C - Casual",
                        "value": "C"
                      },
                      {
                        "text": "F - Full time",
                        "value": "F"
                      },
                      {
                        "text": "P - Part time",
                        "value": "P"
                      },
                      {
                        "text": "T - Temporary",
                        "value": "T"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "List Locations",
        "description": "Returns a list of the location codes. The format of Text in the response depends on the company web setting Lookup.Location.\n\nLocation codes are used throughout Avanti to identify employee locations, departments, zones, units, etc.",
        "operationId": "List-Locations",
        "parameters": [
          {
            "name": "activeStatus",
            "in": "query",
            "description": "If 0, returns All Locations. If 1, returns Active Locations. If 2, returns Inactive Locations. If blank, returns All Locations.",
            "schema": {
              "multipleOf": 1,
              "maximum": 2,
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TextValuePair"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/NewHire": {
      "post": {
        "tags": [
          "New Hire"
        ],
        "summary": "Add New Hire",
        "operationId": "Add-New-Hire",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewHire"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewHire"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewHire"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewHire"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewHire"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/NewHire/DefaultGroup": {
      "get": {
        "tags": [
          "New Hire"
        ],
        "summary": "Get Default Group Values and Setup",
        "operationId": "Get-Default-Group-Values-and-Setup",
        "parameters": [
          {
            "name": "defaultGroupCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultGroupSetupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Notification/{id}": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get a Notification",
        "description": "Returns the details of the notification for the employee attached to the Avanti User.",
        "operationId": "Get-a-Notification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the notification you would like to get the data for.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
[...]
